table, th, td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    width: 75%;
    
}
table {
    margin: auto;
}
td ,th{
    width: fit-content;
    height: 2em;
}
td:hover, th:hover {
    background-color: grey;
}
th {
    background-color:#03f4fc;
}

.modal {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }