table, th, td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    width: 75%;
    position: relative;
    
}
table {
    margin: auto;
    z-index: 20;
}
td ,th{
    width: fit-content;
    height: 2em;
}
td:hover, th:hover {
    background-color: grey;
}
th {
    background-color:#03f4fc;
}

.modal {
    opacity: 0;
    z-index: 10;
    background-color:#bfdff5;
    position: fixed;
    top: 30%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 60%;
    overflow: auto;
}
